<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{home}">
<head><meta charset="UTF-8"/></head>
<body>
<section class="layout-content" layout:fragment="corpo">
    <nav class="navbar navbar-expand-md bg-light">
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <i class="oi oi-caret-right"></i>
                    <span>LISTA DE PROFESSORES</span>
                </li>
            </ul>
            <a class="btn btn-primary btn-md" href="professor/cadastrar" role="button">
                <span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span>
                <span>ADD PROFESSOR</span>
            </a>
        </div>
    </nav>

    <div class="container">

        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                <tr>
                    <th>Nome</th>
                    <th>Disciplina</th>
                    <th>CPF</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="list:${professores}">
                    <td th:text="${list.nome}"> Nome</td>
                    <td th:text="${list.disciplina}"> Disciplina</td>
                    <td th:text="${list.cpf}"> CPF</td>
                    <td></td>

                    <td colspan="2">

                        <a th:href="@{'/professor/editar/' + ${list.id}}"  class="btn btn-info btn-sm"  role="button">
                            <span class="oi oi-brush" title="Editar" aria-hidden="true"></span>
                        </a>
                        <a th:href="@{'/professor/excluir/' + ${list.id}}"  class="btn btn-danger btn-sm" role="button">
                            <span class="oi oi-circle-x" title="Excluir" aria-hidden="true"></span>
                        </a>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>